

@font-face {
   font-family: 'Digital Display';
   src: url('https://praxeds.github.io/scrimba-basketball-scoreboard/Assets/Digital-Display.woff2') format('woff2'),
       url('https://praxeds.github.io/basketball-scoreboard/Assets/Digital-Display.woff2') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

.game {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
   align-items: center; /* Center vertically */
   justify-content: center; /* Center horizontally */
   height: 100vh
}

.red-bg {
   background-color: rgb(236, 30, 68);
  
}

.blue-bg {
   background-color: rgb(38, 117, 244);

}

.winner-container {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: rgba(255, 255, 255, 0.9);
   padding: 3em 4em;
   border-radius: 6px;
 }

.winner-bg {
   background-color: rgb(167, 82, 247);
}

.btn-winner {
   width: 8em;
}

.pass-btn {
   border: 1px solid black;
   box-shadow: 2px 2px 2px black;
}

.pass-btn:active {
   border: 1px solid black;
   transform: translateY(4px);
   box-shadow: 0px 0px 0px black;
}

.roll-1 { 
   animation-name: wobble; 
   animation-duration: .8s; 
} 
 
.is-rolling {
   pointer-events: none;
}

 .scoreboard {
   background: #333;
   color: #fff;
   padding: 15px;
   border-radius: 10px;
}
.score {
   font-size: 50px;
   font-weight: 700;
   font-family: monospace;
}
.team-name {
   font-size: 25px;
   font-weight: 600;
}

.btn-rules {
   color: white;
   background-color: rgb(109, 47, 167);
   border: 1px solid black;
   box-shadow: 2px 2px 2px black;
   
}

.btn-rules:active {
   border: 1px solid black;
   transform: translateY(4px);
   box-shadow: 0px 0px 0px black;
}

.btn-rules:hover {
   background-color: rgb(81, 35, 125);
}

/* Setting Animation effect to the  
    dice using css keyframe */
@keyframes wobble { 
   from { 
       transform: translate3d(0, 0, 0); 
   } 
 
   15% { 
       transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -5deg); 
   } 
 
   30% { 
       transform: translate3d(8%, 0, 0) rotate3d(0, 0, 1, 3deg); 
   } 
 
   45% { 
       transform: translate3d(-6%, 0, 0) rotate3d(0, 0, 1, -3deg); 
   } 
 
   60% { 
       transform: translate3d(4%, 0, 0) rotate3d(0, 0, 1, 2deg); 
   } 
 
   75% { 
       transform: translate3d(-2%, 0, 0) rotate3d(0, 0, 1, -1deg); 
   } 
 
   to { 
       transform: translate3d(0, 0, 0); 
   } 
}

